*{
    padding: 0;
    margin: 0;
    background: #000000d6;
}


/* header + nav*/
.header-container{
    display: flex;
    height: 40px;
    box-sizing: border-box;
    background: #f3f3f3;
}

.nav-container ul{
    display: flex;
}

ul li{
    margin: 0 15px;
}

/* header + nav*/
